.main-section {
  width: 30%;
  height: 80%;
}

.option-section {
  height: 3rem;
  margin: 10px 0;
  border-radius: 15px;
  background-color: var(--color-grey-100);
  display: flex;
  align-items: center;
}

.option-section div {
  width: 50%;
}

.option-section div:first-child {
  height: 2.2rem;
  width: 50%;
  border-radius: 13px;
  margin: 0 8px;
  background-color: white;
  box-shadow: 0px 1px 9px rgba(128, 128, 128, 0.404);
}
