:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-grey-100: #f5f9fa;
  --color-grey-200: #e9e9e9;
  --color-grey-300: #b3b3b3;
  --color-red-100: #e44742;
  margin: 0;
  min-height: 100vh;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

html,
body {
  margin: 0;
  width: 100%;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

a {
  font-weight: 600;
  text-decoration: inherit;
  color: inherit;
  font: inherit;
}



h1 {
  margin: 0;
  margin-bottom: 7px;
  white-space: nowrap;
}

h2 {
  margin: 0;
}

.emoji {
  position: relative;
  bottom: 0.05em;
}
